# Ignore node_modules directory
node_modules/

# Ignore log files and directories
logs/
*.log

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore Docker-related files
docker-compose.override.yml
docker-compose.override.yaml

# Ignore Nginx configuration files
nginx/logs/

# Ignore Moodle data directories
moodledata/
moodledata_data7/
moodle_data7/

# Ignore database data directories
mariadb_data/
mariadb_data_4_3_7/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db